<% include ./partials/header %>
        <!-- Search form -->
        <div id="search-box">
            <form action="" method="post">
                <input type="text" placeholder="Search...">
                <button><img src="/images/ic-search.svg" alt=""></button>
            </form>
        </div>
        <div class="page-notfound">
            <img src="/images/404error.jpeg" alt="">
        </div>


    <% include ./partials/footer %>