
<% include ../partials/header %>

<div class="user-grid">
    <section class="grey-box">
        <form class="form-container" action="">
            <div class="input-container">
                <span><img src="/images/fa-solid_user-alt.svg" alt=""></span>
                <input type="text" name="" id="" placeholder="Username">
            </div>
            <div class="input-container">
                <span><img src="/images/mdi-textbox-password.svg" alt=""></span>
                <input type="text" name="" id="" placeholder="Password">
            </div>
            <div class="input-container">
                <span><img src="/images/si-glyph_badge-name.svg" alt=""></span>
                <input type="text" name="" id="" placeholder="Name">
            </div>
            <div class="input-container">
                <span><img src="/images/ic-sharp-alternate-email.svg" alt=""></span>
                <input type="password" name="" id="" placeholder="E-Mail">
            </div>
            <button class="btn-primary">Log In</button>
        </form>
    </section>
    <section>
        <% if(currentUser){ %>
    <h2 class="center-text"><%= currentUser.username %>></h2>
    <% } %>
    <!-- Users Posts -->
    <div class="card-container">
        <a href="show.html">
        <div class="card">
            <img class="card-image" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190208-delish-ramen-horizontal-093-1550096715.jpg?crop=1xw:0.9995002498750624xh;center,top&resize=480:*" alt="">
            <div class="card-controls">
                <span><img class="btn-control" src="/images/ant-design_delete-fill.svg" alt=""></span>
                <span><img class="btn-control" src="/images/dashicons-edit-large.svg" alt=""></span>
            </div>
            <div class="card-title">
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        </a>
        <a href="show.html">
        <div class="card">
            <img class="card-image" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190208-delish-ramen-horizontal-093-1550096715.jpg?crop=1xw:0.9995002498750624xh;center,top&resize=480:*" alt="">
            <div class="card-controls">
                <span><img class="btn-control" src="/images/ant-design_delete-fill.svg" alt=""></span>
                <span><img class="btn-control" src="/images/dashicons-edit-large.svg" alt=""></span>
            </div>
            <div class="card-title">
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        </a>
        <a href="show.html">
        <div class="card">
            <img class="card-image" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190208-delish-ramen-horizontal-093-1550096715.jpg?crop=1xw:0.9995002498750624xh;center,top&resize=480:*" alt="">
            <div class="card-controls">
                <span><img class="btn-control" src="/images/ant-design_delete-fill.svg" alt=""></span>
                <span><img class="btn-control" src="/images/dashicons-edit-large.svg" alt=""></span>
            </div>
            <div class="card-title">
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        </a>
        <a href="show.html">
        <div class="card">
            <img class="card-image" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190208-delish-ramen-horizontal-093-1550096715.jpg?crop=1xw:0.9995002498750624xh;center,top&resize=480:*" alt="">
            <div class="card-controls">
                <span><img class="btn-control" src="/images/ant-design_delete-fill.svg" alt=""></span>
                <span><img class="btn-control" src="/images/dashicons-edit-large.svg" alt=""></span>
            </div>
            <div class="card-title">
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        </a>
    </div>
    </section>
</div>

<% include ../partials/footer %>