

$main-color: #FBD35F;
$grey-1: #868686;
$grey-2: #C4C4C4;
$grey-3: rgb(231, 231, 231);
$grey-4: #F6F6F6;
$navy: #313131;
$orange: #FF8B36;
$red: #FB5F5F;

$border-radius: 29px;

@mixin grid-1 {
    @media (min-width: #{760px}) {
        @content;
    }
}
@mixin grid-2 {
    @media (min-width: #{1063px}) {
        @content;
    }
}
@mixin grid-3 {
    @media (min-width: #{1600px}) {
        @content;
    }
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: $main-color;
}
//CONTAINERS
.main-container{
    background: #FFF;
    margin: 1rem;
    border-radius: $border-radius;
    padding: 2rem 1.5rem;
    flex-basis: auto; /* default value */
    flex-grow: 1;
    @include grid-1{
        margin: 3rem;
        min-height: 600px;
    }
    @include grid-2{
        margin: 4rem;
    }
    @include grid-3{
        margin: 7rem;
    }
}
.container-center{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    @include grid-1{
        margin: auto 5%;
        grid-template-columns: 1fr 1fr;
    }
    @include grid-2{
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include grid-3{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    a{
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center
    }
}

.p-container{
    background: $grey-3;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: $border-radius;
    p{
        margin-left: 0.5rem;
    }
}
//HEADER
#header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    #nav-bar{
        display: flex;
        align-items: flex-end;
        list-style: none;   
    }
    .nav-items{
        padding: 0.4rem 0.6rem;
        img{
            width: 1rem;
            margin-right: 0.5rem;
        }
    }
    a{
        text-decoration: none;
        color: black;
    }
}

.side-nav{
    padding-top: 5rem;
    text-align: center;
    height:30rem;
    width:0;
    position: absolute;;
    z-index:1;
    top: 6rem;
    right: 1rem;
    border-radius: $border-radius 0 0 $border-radius;
    background-color:$grey-4;
    overflow-x:hidden;
    transition:0.5s;
    @include grid-1{
        right: 3rem;
        top: 8rem;
    }
    @include grid-2{
        right: 4rem;
        top: 9rem;
    }
    @include grid-3{
        right: 7rem;
        top: 12rem;
    }
    a{
        padding:10px 10px 10px 30px;
        text-decoration:none;
        font-size:22px;
        color: black;
        display:block;
        transition:0.3s;
      }
      button{
          margin-top: 2rem;
      }
    .btn-close{
        position:absolute;
        top:0;
        right:22px;
        font-size:36px;
        margin-left:50px;
    }
}

.form-container{
    display: flex;
    flex-direction: column;
    margin: auto 2rem;
    padding: 2rem 0;
    .input-container{
        display: flex;
        flex-direction: row;
        margin: 1rem 0;
        justify-content: space-between;
        input{  
            margin-left: 0.5rem;
            flex-grow: 1;
            border-width: 0;
            outline: none;
            font-size: 18px;
            border-bottom: #868686 2px solid;
            margin-left: 1rem;
            background: transparent;
            font-style: italic; 
        }
    }  
}


//BUTTONS
.btn-primary{
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.4rem 1rem;
    border-radius: $border-radius;
    border: solid 1px $grey-1;
    color: $grey-1;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
    &:hover{
        background: $main-color;
        border-color: $main-color;
        color: $navy;
        font-weight: bold;
        box-shadow: 0px 0px 4px 0px $main-color;
    }
    img{
        margin: 0.1rem 0 -0.2rem 0.3rem;
    }
}
.text-bold{
    font-weight: bold;
}
.margin-y{
    margin: 1rem 0;
}
.margin-x{
    margin: 0 1rem;
}
// ALERT
.alert-container{
    margin: auto 1rem;
    display: flex;
    justify-content: center;
    position: fixed;
    top: -4rem;
    width: 100%;
    left: 0;
    animation: alertAnimation 5s ease-in-out;
}
@keyframes alertAnimation{
    0%   { top: -4rem; }
    10% { top: 1rem; }
    90% { top: 1rem; }
    100% { top: -4rem; }
}
.alert{
    border-radius: $border-radius;
    text-align: center;
    display: inline-block;
    width: 40rem;
    padding: 1rem;
}
.alert-success{
    background: rgb(248, 229, 175);
    color: rgb(151, 98, 28);
    font-weight: bold;
}
.alert-warning{
    background: rgb(248, 175, 175);
    color: rgb(94, 24, 24);
    font-weight: bold;
}

#logo-container{
    text-decoration: none;
    color: black;
    display: inline-block;
        img{
            width: 25px;
            margin-bottom: -3px;
        }
    strong{
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 1rem;
    }
}
//SEARCH BOX
#search-box{
    border-radius: $border-radius;
    margin: 1rem auto;
    background: $grey-3;
    @include grid-1{
        width: 50%;
    }
    input{
        display: inline-block;
        border: solid 0 transparent;
        background: transparent;
        margin: 0.1rem auto 0.1rem 0.8rem;
        height: 2rem;
        width: 80%;
        font-size: 1.15rem;
        outline: none;
    }
    button{
        background: transparent;
        border: solid 0 transparent;
        border-radius: $border-radius;
        float: right;
        outline: none;
        cursor: pointer;
        img{
            width: 2rem;  
        }
    }
}
//POST CARD
.card{
    background: $grey-3;
    margin: 1rem;
    height: 16rem;
    max-width: 16rem;
    min-width: 12rem;
    border-radius: $border-radius;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    .card-image{
        border-radius: $border-radius $border-radius 0 0;
        height: 13rem;
        width: 100%;
        object-fit: cover;
    }
    .card-rating{
        text-decoration: none;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
        margin-top: -200px;
        margin-left: 14px;
        position: relative;
        display: flex;
        background-color: $grey-3;
        float: left;
        padding: 0.3rem 0.5rem;;
        border-radius: $border-radius;
        strong{
            margin: 0.25rem 0.5rem;;
            font-size: 0.8rem;
        }
        span{
            height: 1rem;
            font-size: 1.3rem;
            margin: -0.3rem 0.1rem 0 -0.2rem;
        }
    }
    .card-title{
        display: flex;
        width: 100%;
        height: 44px;
        justify-content: center;
        overflow: hidden;
        h2{
            border-radius: 0 0 $border-radius $border-radius;
            text-align: center;
            font-size: 1rem;
            margin: 0;
        }
    }
}
// VIEW MORE
#view-more{
    text-align: center;
   div{
       margin: 1rem auto 0 auto;
       height: 6px;
       width: 80%;
       border-radius: $border-radius;
       background: $grey-3;
       @include grid-1{
        width: 50%;
        }
        @include grid-2{
            width: 30%;
            }
   }
   button{
       margin-top: 1.6rem;
   }
   a{
       color: $grey-1;
       text-decoration: none;
       cursor: pointer;
       display: block;
       &:hover{
           color: black;
       }
   }
   #arrow-down{
       margin-top: 15px;
   }
}
//PAGE NOT FOUND
.page-notfound{
    display: flex;
    justify-content: space-around;
    img{
        height: 15rem;
        @include grid-1{
            height: 20rem;
        }
    }
}

//EDIT NEW RECIPE 
.form-box{
    height: 100%;
    background: #FFF;
    border-radius: $border-radius;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

form{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-right: 27px;
    @include grid-1{
        grid-template-columns: 1fr 1fr;
    }

    img{
        width: 27px;
    }
    .input-container{
        display: flex;
        flex-direction: row;
        margin: 1rem;
        justify-content: space-between;
    }
        input{
            margin-left: 0.5rem;
            flex-grow: 1;
            border-width: 0;
            outline: none;
            font-size: 18px;
            border-bottom: #868686 2px solid;
            margin-left: 1rem;
            background: transparent;
            font-style: italic;
            
        }
        textarea{
            background: transparent;
            font-family: inherit; 
            font-size: inherit;
            border-radius: 4px;
            margin-left: 1rem;
            width: 100%;
            border-width: 2px;
            resize: none;
            outline: none;
        }
        button{
            margin-left: 3rem;
            margin-right: 0.5rem;
            @include grid-1{
                grid-column:1/3;
            }
        }
    }
}



#show-meal{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;

    @include grid-1{
        padding-left: 2rem;
        padding-right: 2rem;
        grid-template-columns: 1fr 1fr;

    }
    @include grid-2{
        padding-left: 3rem;
        padding-right: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 1rem;
    }
    @include grid-3{
        padding-left: 7rem;
        padding-right: 7rem;
    }
    .post-content{
        
        text-align: center;
        align-self: center;
        max-width: 24rem;
        @include grid-1{
            margin-top: 1.5rem;
            align-self: flex-start;
            grid-column:2/3;
            width: 100%;
        }
        @include grid-2{
            margin: 1.4rem 1.5rem auto 1.5rem;;
            width: auto;
            grid-column: auto;
        }
        @include grid-3{
            margin: 0 2.5rem;
        }
    }
    .post-face{
        display: flex;
        justify-content: center;
        text-align: center;
        @include grid-1{
            margin-right: 2rem;
        }
        
    }
    .temp{
        width: 18rem;
    }
    .tags{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        div{
            background: $grey-3;
            border-radius: $border-radius;
            padding: 0.3rem 0.6rem;
            display: flex;
            align-items: center;

            img{
                margin-left: 0.3rem;
            }
        }
    }
    .show-image{
        object-fit: cover;
        width: 18rem;
        height: 18rem;
        border-radius: $border-radius;
    }
    .show-rating{
        margin-top: 20px;
    }
    p{
        text-align: start;
        background: $grey-3;
        margin: 0;
        padding: 0.5rem 1rem;
        border-radius: 13px;
        white-space: pre-wrap;
        min-height: 270px;
        flex-basis: auto; /* default value */
        flex-grow: 1;
    }
    hr{
        border: solid 1px $grey-3;
        border-radius: $border-radius;
        @include grid-1{
            display: none;
        }
    }
    #user-index{
    font-size: 0.8rem;
    text-align: start;
        margin-bottom: 0.7rem;
    }
}
//COMMENT SECTION
#comment-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.2rem 1rem;
    margin: 1rem -1.5rem -2rem -1.5rem;
    border-radius: 0 0 $border-radius $border-radius;
    background: $grey-3;
    @include grid-1{
        padding: 0.6rem 3rem;
    }
    @include grid-2{
        padding: 1rem 9rem;
    }
    @include grid-3{
        padding: 2rem 16rem;
    }
    h3{
        text-align: center;
    }
    button{
        margin-top: 2rem;
    }

    #comment-area{
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
        textarea{
            height: 4rem;
            outline: none;
            border-radius: 10px;
            padding: 0.5rem 1rem;
            resize: none;
        }
    }

    .comment-container{
        justify-content: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 1rem 0;
        .comment{
            background: $grey-2;
            padding: 1rem;
            text-align: start;
            border-radius: $border-radius;
            .temp-name{
                padding-top: 1rem;
                display: flex;
                justify-content: space-between;
                form{
                    height: 20px;
                }
                .delete-btn{
                    margin-top: -20px;
                    cursor: pointer;
                    background: transparent;
                    border-width: 0;
                }
                .delete-btn>img{
                    height: 1.3rem;
                }
                .date-posted{
                    font-size: 0.7rem;
                }
            }
        }
        .user-avatar{
            background: black;
            border-radius: 50px;
            padding: 0;
            width: 2rem;
            margin-right: 0.5rem;
            align-self: flex-start
        }
    }
}

//rating
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: $navy;
  }
  .rated{
      color: goldenrod;
  }
  .smaller{
      font-size: 2.5rem;
      text-align: center;
      width: 100%;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: goldenrod;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: $navy;
    text-shadow: 0 0 5px goldenrod;
  }


  .grey-box{
    background: $grey-4;
    border-radius: 10px;
    text-align: center;;
  }

.user-grid{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto 1rem;
    @include grid-1{
        grid-template-columns: 1fr 2fr;
    }
    .card-container{
        @include grid-1{
            margin: auto 5%;
            grid-template-columns: 1fr;
        }
        @include grid-2{
            grid-template-columns: 1fr 1fr;
        }
        @include grid-3{
            grid-template-columns: 1fr 1fr 1fr;
        }

    }
}
  .center-text{
      text-align: center;
  }

  .recipe-controls{
      display: flex;
      justify-content: space-around;
      margin-top: -60px;
      margin-bottom: 30px;
      a{
          padding: 0.5rem 0.7rem;
          background: $main-color;
          color: $navy;
          font-weight: bold;
          text-decoration: none;
          border-radius: $border-radius;
          letter-spacing: 0.1rem;
          font-size: 0.8rem;
          box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);

      }
      .btn-delete{
            border-radius: $border-radius;
            border-width: 0;
            box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
            background: $red;
            padding: 0.5rem 0.7rem;
            color: white;
            cursor: pointer;
      }
  }

