<% include ../partials/header %>
<div id="show-meal">
    <div class="flexboxx">
        <section class="temp">
        <div class="tags">
            <div class="time">
                <Strong>60 min</Strong>
                <span><img src="/images/fa-solid_clock.svg" alt=""></span>
            </div>
            <div class="price">
                <Strong>60 zl</Strong>
                <span><img src="/images/fa-solid_money-bill-alt.svg" alt=""></span>
            </div>
        </div>
        <img class="show-image" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190208-delish-ramen-horizontal-093-1550096715.jpg?crop=1xw:0.9995002498750624xh;center,top&resize=480:*" alt="">
        <div class="show-rating">
            <span><img src="/images/Star.svg" alt=""></span>
            <span><img src="/images/Star.svg" alt=""></span>
            <span><img src="/images/Star.svg" alt=""></span>
            <span><img src="/images/Star.svg" alt=""></span>
            <span><img src="/images/Star.svg" alt=""></span>
        </div>
        <h1>Lorem Ipsum</h1>
        <div id="user-index"><em>Submited by <span>User198</span></em></div>
        </section>
    </div>
    <hr>
    <div class="text-content">
        <h2>Ingredients</h2>
        <p id="ingredients-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ad fugiat corrupti necessitatibus, facilis iure, natus rerum eaque iste eligendi unde illum culpa facere pariatur. Et recusandae facilis reiciendis debitis.</p>
    </div>
    <div class="text-content">
        <h2>Method</h2>
        <p id="recipe-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum omnis architecto fuga, repudiandae necessitatibus sed consequatur debitis inventore! A sed similique dignissimos voluptate cumque, omnis et odio modi mollitia incidunt libero reiciendis possimus. Temporibus tempora praesentium optio officia vero necessitatibus expedita fuga, tenetur earum mollitia eveniet ducimus numquam quam ad culpa? Sunt, tempora debitis. Maiores explicabo vero eos voluptate aspernatur.</p>
    </div>
</div>

</div>

<% include ../partials/footer %>